In [1]:
import pandas as pd
import numpy as np
import math
dfship_pre = pd.read_csv("AIS_weather_h_rename_copy.csv")
dfship_pre.head(n=5)

,Time,LON,LAT,Eastward wind,Northward wind,Temperature above oceans,Air density above oceans,Max wave height,Swell direction,Wind wave direction,...,Wind wave height,Surface pressure,Eastward current,Northward current,Draught,Width,Length,SOG,COG,Heading
0,01/01/21 00:00,14.689663,55.098452,2.267688,6.741482,277.311035,1.259323,1.893614,196.854050,196.749664,...,0.805267,100445.5000,0.113690,0.044994,5.026295,24,158,0.0,358.9,174.0
1,01/01/21 01:00,14.689659,55.098451,1.782681,6.410275,277.328369,1.259985,1.752303,200.122772,193.152008,...,0.641006,100439.6875,0.113690,0.044994,5.013148,24,158,0.0,358.9,174.0
2,01/01/21 02:00,14.689648,55.098468,1.154659,6.385135,277.390625,1.260244,1.619775,202.498383,186.424912,...,0.545059,100464.3750,0.083984,0.054000,5.021913,24,158,0.0,358.9,174.0
3,01/01/21 03:00,14.689646,55.098471,0.348801,6.094659,277.411377,1.260148,1.518736,203.956986,180.725922,...,0.515686,100443.6250,0.083984,0.054000,5.007304,24,158,0.0,358.9,174.0
4,01/01/21 04:00,14.689644,55.098462,-0.593128,6.153186,277.430664,1.260634,1.455034,208.486298,177.761627,...,0.549881,100437.9375,0.083984,0.054000,5.007889,24,158,0.0,358.9,174.0

In [2]:
dfship_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Time                                  7996 non-null   object
 1   LON                                   7996 non-null   float64
 2   LAT                                   7996 non-null   float64
 3   Eastward wind                         7996 non-null   float64
 4   Northward wind                        7996 non-null   float64
 5   Temperature above oceans              7996 non-null   float64
 6   Air density above oceans              7880 non-null   float64
 7   Max wave height                       6817 non-null   float64
 8   Swell direction                       6817 non-null   float64
 9   Wind wave direction                   6817 non-null   float64
 10  Swell period                          6817 non-null   float64
 11  Wind wave period                      6817 non-null   float64
 12  Wave direction                        6817 non-null   float64
 13  Wave period                           6817 non-null   float64
 14  Sea surface temperature               7861 non-null   float64
 15  Combined wind waves and swell height  6817 non-null   float64
 16  Swell height                          6817 non-null   float64
 17  Wind wave height                      6817 non-null   float64
 18  Surface pressure                      7996 non-null   float64
 19  Eastward current                      6484 non-null   float64
 20  Northward current                     6484 non-null   float64
 21  Draught                               7996 non-null   float64
 22  Width                                 7996 non-null   int64
 23  Length                                7996 non-null   int64
 24  SOG                                   7996 non-null   float64
 25  COG                                   7996 non-null   float64
 26  Heading                               7996 non-null   float64
dtypes: float64(24), int64(2), object(1)
memory usage: 1.6+ MB

In [3]:
# Filter any latitude values smaller than 55.04 to exlcude journey between 
# Ronne and Sassnitz
dfship_pre2 = dfship_pre[dfship_pre['LAT'] > 55.04 ]
dfship_pre2.head(n=10)

,Time,LON,LAT,Eastward wind,Northward wind,Temperature above oceans,Air density above oceans,Max wave height,Swell direction,Wind wave direction,...,Wind wave height,Surface pressure,Eastward current,Northward current,Draught,Width,Length,SOG,COG,Heading
0,01/01/21 00:00,14.689663,55.098452,2.267688,6.741482,277.311035,1.259323,1.893614,196.854050,196.749664,...,0.805267,100445.5000,0.113690,0.044994,5.026295,24,158,0.000000,358.900000,174.000000
1,01/01/21 01:00,14.689659,55.098451,1.782681,6.410275,277.328369,1.259985,1.752303,200.122772,193.152008,...,0.641006,100439.6875,0.113690,0.044994,5.013148,24,158,0.000000,358.900000,174.000000
2,01/01/21 02:00,14.689648,55.098468,1.154659,6.385135,277.390625,1.260244,1.619775,202.498383,186.424912,...,0.545059,100464.3750,0.083984,0.054000,5.021913,24,158,0.000000,358.900000,174.000000
3,01/01/21 03:00,14.689646,55.098471,0.348801,6.094659,277.411377,1.260148,1.518736,203.956986,180.725922,...,0.515686,100443.6250,0.083984,0.054000,5.007304,24,158,0.000000,358.900000,174.000000
4,01/01/21 04:00,14.689644,55.098462,-0.593128,6.153186,277.430664,1.260634,1.455034,208.486298,177.761627,...,0.549881,100437.9375,0.083984,0.054000,5.007889,24,158,0.000000,358.900000,174.000000
5,01/01/21 05:00,14.689649,55.098455,-1.140082,6.917303,277.389648,1.260749,1.449675,216.184876,175.198700,...,0.621552,100426.3125,0.048465,0.099054,5.016434,24,158,0.000000,358.900000,174.000000
6,01/01/21 06:00,14.689636,55.098470,-1.244867,7.608953,277.320557,1.261436,1.518332,220.624313,174.294296,...,0.705246,100440.9375,0.048465,0.099054,5.021130,24,158,0.000000,358.900000,174.000000
7,01/01/21 07:00,14.689641,55.098466,-0.910214,7.986181,277.155518,1.261738,1.623140,212.309525,174.913208,...,0.779129,100438.1250,0.048465,0.099054,5.014087,24,158,0.000000,358.900000,174.000000
8,01/01/21 08:00,14.559275,55.121629,0.137991,7.647350,276.900391,1.261916,1.661038,187.445587,178.761826,...,0.801956,100538.0000,0.083033,0.062728,5.017723,24,158,14.578394,299.573513,269.900574
9,01/01/21 09:00,14.150896,55.261799,1.049884,6.617633,276.705566,1.262235,1.501637,165.581848,185.115234,...,0.578049,100602.7500,0.061865,0.083661,5.019207,24,158,18.148696,302.274508,300.130435

In [4]:
dfship_pre2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7453 entries, 0 to 7995
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Time                                  7453 non-null   object
 1   LON                                   7453 non-null   float64
 2   LAT                                   7453 non-null   float64
 3   Eastward wind                         7453 non-null   float64
 4   Northward wind                        7453 non-null   float64
 5   Temperature above oceans              7453 non-null   float64
 6   Air density above oceans              7337 non-null   float64
 7   Max wave height                       6274 non-null   float64
 8   Swell direction                       6274 non-null   float64
 9   Wind wave direction                   6274 non-null   float64
 10  Swell period                          6274 non-null   float64
 11  Wind wave period                      6274 non-null   float64
 12  Wave direction                        6274 non-null   float64
 13  Wave period                           6274 non-null   float64
 14  Sea surface temperature               7318 non-null   float64
 15  Combined wind waves and swell height  6274 non-null   float64
 16  Swell height                          6274 non-null   float64
 17  Wind wave height                      6274 non-null   float64
 18  Surface pressure                      7453 non-null   float64
 19  Eastward current                      5941 non-null   float64
 20  Northward current                     5941 non-null   float64
 21  Draught                               7453 non-null   float64
 22  Width                                 7453 non-null   int64
 23  Length                                7453 non-null   int64
 24  SOG                                   7453 non-null   float64
 25  COG                                   7453 non-null   float64
 26  Heading                               7453 non-null   float64
dtypes: float64(24), int64(2), object(1)
memory usage: 1.6+ MB

In [5]:
#dfship_pre3 = dfship_pre2.drop(dfship_pre2.columns[[0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22,23]],axis=1)
#dfship_pre3.head(n=5)



dfship_pre3 = dfship_pre2.drop(dfship_pre2.columns[[0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22,23]],axis=1)
dfship_pre3.head(n=5)

,LON,LAT,Eastward wind,Northward wind,Eastward current,Northward current,SOG,COG,Heading
0,14.689663,55.098452,2.267688,6.741482,0.113690,0.044994,0.0,358.9,174.0
1,14.689659,55.098451,1.782681,6.410275,0.113690,0.044994,0.0,358.9,174.0
2,14.689648,55.098468,1.154659,6.385135,0.083984,0.054000,0.0,358.9,174.0
3,14.689646,55.098471,0.348801,6.094659,0.083984,0.054000,0.0,358.9,174.0
4,14.689644,55.098462,-0.593128,6.153186,0.083984,0.054000,0.0,358.9,174.0

In [6]:
dfship_pre3 = dfship_pre3.rename({'Eastward wind': 'eastwind', 'Northward wind': 'northwind',
                           'Eastward current': 'eastcurrent', 'Northward current': 'northcurrent',
                           'SOG':'sog','COG':'cog','Heading':'heading'},axis=1) 
dfship_pre3.head(n=5)

,LON,LAT,eastwind,northwind,eastcurrent,northcurrent,sog,cog,heading
0,14.689663,55.098452,2.267688,6.741482,0.113690,0.044994,0.0,358.9,174.0
1,14.689659,55.098451,1.782681,6.410275,0.113690,0.044994,0.0,358.9,174.0
2,14.689648,55.098468,1.154659,6.385135,0.083984,0.054000,0.0,358.9,174.0
3,14.689646,55.098471,0.348801,6.094659,0.083984,0.054000,0.0,358.9,174.0
4,14.689644,55.098462,-0.593128,6.153186,0.083984,0.054000,0.0,358.9,174.0

In [7]:

dfship_pre3["windspeed"] = np.sqrt(dfship_pre3["eastwind"]**2 + dfship_pre3["northwind"]**2)
dfship_pre3["winddir"] = np.rad2deg(np.arctan(dfship_pre3["eastwind"]/dfship_pre3["northwind"]))
dfship_pre3["curspeed"] = np.sqrt(dfship_pre3["eastcurrent"]**2 + dfship_pre3["northcurrent"]**2)
dfship_pre3["curdir"] = np.rad2deg(np.arctan(dfship_pre3["eastcurrent"]/dfship_pre3["northcurrent"]))

In [8]:
dfship_pre3.head(n=15)

,LON,LAT,eastwind,northwind,eastcurrent,northcurrent,sog,cog,heading,windspeed,winddir,curspeed,curdir
0,14.689663,55.098452,2.267688,6.741482,0.113690,0.044994,0.000000,358.900000,174.000000,7.112664,18.591820,0.122270,68.408246
1,14.689659,55.098451,1.782681,6.410275,0.113690,0.044994,0.000000,358.900000,174.000000,6.653538,15.541109,0.122270,68.408246
2,14.689648,55.098468,1.154659,6.385135,0.083984,0.054000,0.000000,358.900000,174.000000,6.488697,10.250337,0.099846,57.259552
3,14.689646,55.098471,0.348801,6.094659,0.083984,0.054000,0.000000,358.900000,174.000000,6.104632,3.275496,0.099846,57.259552
4,14.689644,55.098462,-0.593128,6.153186,0.083984,0.054000,0.000000,358.900000,174.000000,6.181707,-5.505940,0.099846,57.259552
5,14.689649,55.098455,-1.140082,6.917303,0.048465,0.099054,0.000000,358.900000,174.000000,7.010625,-9.359123,0.110275,26.071643
6,14.689636,55.098470,-1.244867,7.608953,0.048465,0.099054,0.000000,358.900000,174.000000,7.710115,-9.291591,0.110275,26.071643
7,14.689641,55.098466,-0.910214,7.986181,0.048465,0.099054,0.000000,358.900000,174.000000,8.037884,-6.502153,0.110275,26.071643
8,14.559275,55.121629,0.137991,7.647350,0.083033,0.062728,14.578394,299.573513,269.900574,7.648595,1.033749,0.104064,52.930471
9,14.150896,55.261799,1.049884,6.617633,0.061865,0.083661,18.148696,302.274508,300.130435,6.700397,9.014812,0.104050,36.481737
10,13.837859,55.396479,0.007602,4.089465,0.065378,0.065802,9.686510,163.922318,230.117302,4.089472,0.106505,0.092759,44.814586
11,13.850090,55.390485,0.516915,3.786380,0.087895,0.030777,11.252112,117.003285,178.653615,3.821501,7.773943,0.093128,70.701850
12,14.155408,55.255379,2.151406,5.039321,0.068979,0.052395,18.119627,125.829385,125.446296,5.479353,23.118792,0.086621,52.780582
13,14.563509,55.112399,2.640033,4.693805,0.080818,0.021035,14.379727,128.352128,114.077973,5.385311,29.355599,0.083510,75.410879
14,14.689647,55.098457,2.640167,3.999182,0.064018,0.005088,0.000000,348.500000,174.293447,4.792070,33.431869,0.064220,85.456138

In [9]:
dfship_pre3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7453 entries, 0 to 7995
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LON           7453 non-null   float64
 1   LAT           7453 non-null   float64
 2   eastwind      7453 non-null   float64
 3   northwind     7453 non-null   float64
 4   eastcurrent   5941 non-null   float64
 5   northcurrent  5941 non-null   float64
 6   sog           7453 non-null   float64
 7   cog           7453 non-null   float64
 8   heading       7453 non-null   float64
 9   windspeed     7453 non-null   float64
 10  winddir       7453 non-null   float64
 11  curspeed      5941 non-null   float64
 12  curdir        5941 non-null   float64
dtypes: float64(13)
memory usage: 815.2 KB

In [10]:
dfship_pre3.describe()

,LON,LAT,eastwind,northwind,eastcurrent,northcurrent,sog,cog,heading,windspeed,winddir,curspeed,curdir
count,7453.000000,7453.000000,7453.000000,7453.000000,5941.000000,5941.000000,7453.000000,7453.000000,7453.000000,7453.000000,7453.000000,5941.000000,5941.000000
mean,13.774095,55.210011,1.976344,0.379926,0.016286,0.003318,8.870751,242.699284,175.747154,6.513813,6.323949,0.109891,-1.886893
std,0.977055,0.132433,5.296850,4.429899,0.099475,0.081795,8.619512,108.555287,66.793790,3.048934,56.940496,0.069166,55.917644
min,12.196909,55.040170,-15.216397,-12.824582,-0.491010,-0.404690,-0.009130,-0.134241,63.486661,0.193221,-89.961480,0.000735,-89.957853
25%,12.871872,55.098459,-1.756650,-2.534061,-0.037983,-0.044471,0.000000,124.116508,109.576119,4.149883,-46.613951,0.059163,-52.440600
50%,14.101697,55.141606,2.294543,0.385690,0.019269,0.003562,6.953578,283.216008,173.847507,6.285080,12.348882,0.095501,-5.343045
75%,14.689640,55.275562,5.838650,3.339456,0.072372,0.047412,18.014436,346.200000,174.612903,8.525129,59.985376,0.143550,49.866955
max,14.696212,55.639000,16.338177,14.519458,0.522374,0.364966,21.070514,359.728115,354.145635,16.760001,89.907884,0.525174,89.975398

Calculation for STW and SOG

In [11]:
#model 1

#dfship_pre3["vg_x"] = (dfship_pre3["sog"] * np.sin(np.deg2rad(dfship_pre3["cog"])))/1.9438
#dfship_pre3["vc"] = (dfship_pre3["curspeed"]) * np.sin(np.deg2rad(dfship_pre3["curdir"]))
#dfship_pre3["vwms"] = (dfship_pre3["vg_x"] - dfship_pre3["vc"]) / np.sin(np.deg2rad(dfship_pre3["heading"]))
#dfship_pre3["vwknot"] = dfship_pre3["vwms"] * 1.9438
#dfship_pre3.head(n=15)

#model 2

#dfship_pre3["vgms"] = dfship_pre3["sog"]/1.9438
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["curdir"]))
# Theta is the angle difference between cog and heading
#dfship_pre3["theta"] = np.abs(dfship_pre3["cog"]-dfship_pre3["heading"])
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 - dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["theta"]))
#dfship_pre3["vwms"] = np.sqrt(dfship_pre3["vwmsqr"])
#dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
#dfship_pre3.head(n=15)


#dfship_pre3["curc"] = np.where(dfship_pre3["curdir"] > 0 , dfship_pre3["curdir"] , dfship_pre3["curdir"] + 180 )
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["curc"]))
#dfship_pre3["vwms"] = np.sqrt(dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["curc"])))

#if dfship_pre3["curdir"] > 0:
#    dfship_pre3["vwms"] = np.sqrt(dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["curdir"])))
#elif dfship_pre3["curdir"] < 0:
#    dfship_pre3["vwms"] = np.sqrt(dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["180-curdir"])))

#dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
#dfship_pre3.head(n=15)

#model 3

dfship_pre3["vgms"] = dfship_pre3["sog"]/1.9438
dfship_pre3["truedircur"] = np.where(dfship_pre3["heading"] < 180 , dfship_pre3["heading"] - dfship_pre3["curdir"] , 180 - (360 - dfship_pre3["heading"] - dfship_pre3["curdir"]))
#dfship_pre3["truedircur"] = dfship_pre3["heading"] - dfship_pre3["curdir"]
dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["truedircur"]))
dfship_pre3["vwms"] = np.sqrt(dfship_pre3["vwmsqr"])
dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
dfship_pre3.head(n=15)

#dfship_pre3.to_csv("AIS_curdir.csv")

dfship_pre3["vgms"] = dfship_pre3["sog"]/1.9438
dfship_pre3["truecurrdir"] = df["True Current Direction"]
dfship_pre3["dirchk"] = abs(dfship_pre3["cog"] - dfship_pre3["truecurrdir"])

#dfship_pre3["truedircur"] = np.where(dfship_pre3["heading"] < 180 , dfship_pre3["heading"] - dfship_pre3["curdir"] , 180 - (360 - dfship_pre3["heading"] - dfship_pre3["curdir"]))
#dfship_pre3["truedircur"] = dfship_pre3["heading"] - dfship_pre3["curdir"]
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["truedircur"]))
# Use data from original dataset

#dfship_pre3["theta"] = np.where(dfship_pre3["dirchk"] < 90 and dfship_pre3["dirchk"] > -90  , dfship_pre3["curdir"] , dfship_pre3["truecurrdir"])
#dfship_pre3["theta"] = np.where(dfship_pre3["dirchk"] < 90 , dfship_pre3["dirchk"] , dfship_pre3["truecurrdir"])
#dfship_pre3["curspeed"]=df["Current Speed"]
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 + 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(dfship_pre3["theta"]))
#dfship_pre3["vwms"] = np.sqrt(dfship_pre3["vwmsqr"])
#dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
#dfship_pre3.head(n=10)

# Model 4 (Use of sine law to find nu)

#dfship_pre3["theta"] = dfship_pre3["cog"]-dfship_pre3["heading"]
#dfship_pre3["eta"] = np.arcsin(np.deg2rad(dfship_pre3["vgms"]/dfship_pre3["curspeed"] * np.sin(np.deg2rad(dfship_pre3["theta"]))))
#dfship_pre3["aoa"] = 180 - dfship_pre3["eta"] - dfship_pre3["theta"]
#dfship_pre3["vwmsqr"] = dfship_pre3["curspeed"]**2 + dfship_pre3["vgms"]**2 - 2*dfship_pre3["curspeed"]*dfship_pre3["sog"]*np.cos(np.deg2rad(180)-np.deg2rad(dfship_pre3["aoa"]))
#dfship_pre3["vwms"] = np.sqrt(dfship_pre3["vwmsqr"])
#dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
#dfship_pre3.head(n=10)

# Model 5 (simple vector)

#dfship_pre3["vgx"] = dfship_pre3["vgms"] * np.sin(np.deg2rad(dfship_pre3["cog"]))
#dfship_pre3["vcx"] = dfship_pre3["curspeed"] * np.sin(np.deg2rad(dfship_pre3["curdir"]))
#dfship_pre3["stw_x"] = (dfship_pre3["vgx"] - dfship_pre3["vcx"])

#dfship_pre3["vgy"] = dfship_pre3["vgms"] * np.cos(np.deg2rad(dfship_pre3["cog"]))
#dfship_pre3["vcy"] = dfship_pre3["curspeed"] * np.cos(np.deg2rad(dfship_pre3["curdir"]))
#dfship_pre3["stw_y"] = (dfship_pre3["vgy"] - dfship_pre3["vcy"])

#dfship_pre3["vwms"] = np.sqrt(dfship_pre3["stw_x"]**2 + dfship_pre3["stw_y"]**2)
#dfship_pre3["vwknot"] = dfship_pre3["vwms"]*1.9438
#dfship_pre3.head(n=10)

c:\Users\Wafi\anaconda3\envs\geron1\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

,LON,LAT,eastwind,northwind,eastcurrent,northcurrent,sog,cog,heading,windspeed,winddir,curspeed,curdir,vgms,truedircur,vwmsqr,vwms,vwknot
0,14.689663,55.098452,2.267688,6.741482,0.113690,0.044994,0.000000,358.900000,174.000000,7.112664,18.591820,0.122270,68.408246,0.000000,105.591754,0.014950,0.122270,0.237667
1,14.689659,55.098451,1.782681,6.410275,0.113690,0.044994,0.000000,358.900000,174.000000,6.653538,15.541109,0.122270,68.408246,0.000000,105.591754,0.014950,0.122270,0.237667
2,14.689648,55.098468,1.154659,6.385135,0.083984,0.054000,0.000000,358.900000,174.000000,6.488697,10.250337,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
3,14.689646,55.098471,0.348801,6.094659,0.083984,0.054000,0.000000,358.900000,174.000000,6.104632,3.275496,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
4,14.689644,55.098462,-0.593128,6.153186,0.083984,0.054000,0.000000,358.900000,174.000000,6.181707,-5.505940,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
5,14.689649,55.098455,-1.140082,6.917303,0.048465,0.099054,0.000000,358.900000,174.000000,7.010625,-9.359123,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
6,14.689636,55.098470,-1.244867,7.608953,0.048465,0.099054,0.000000,358.900000,174.000000,7.710115,-9.291591,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
7,14.689641,55.098466,-0.910214,7.986181,0.048465,0.099054,0.000000,358.900000,174.000000,8.037884,-6.502153,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
8,14.559275,55.121629,0.137991,7.647350,0.083033,0.062728,14.578394,299.573513,269.900574,7.648595,1.033749,0.104064,52.930471,7.499945,142.831045,53.842199,7.337724,14.263069
9,14.150896,55.261799,1.049884,6.617633,0.061865,0.083661,18.148696,302.274508,300.130435,6.700397,9.014812,0.104050,36.481737,9.336709,156.612172,83.718520,9.149783,17.785347
10,13.837859,55.396479,0.007602,4.089465,0.065378,0.065802,9.686510,163.922318,230.117302,4.089472,0.106505,0.092759,44.814586,4.983285,94.931888,24.687246,4.968626,9.658016
11,13.850090,55.390485,0.516915,3.786380,0.087895,0.030777,11.252112,117.003285,178.653615,3.821501,7.773943,0.093128,70.701850,5.788719,107.951765,32.871988,5.733410,11.144602
12,14.155408,55.255379,2.151406,5.039321,0.068979,0.052395,18.119627,125.829385,125.446296,5.479353,23.118792,0.086621,52.780582,9.321755,72.665715,87.837903,9.372188,18.217658
13,14.563509,55.112399,2.640033,4.693805,0.080818,0.021035,14.379727,128.352128,114.077973,5.385311,29.355599,0.083510,75.410879,7.397740,38.667094,56.608759,7.523879,14.624916
14,14.689647,55.098457,2.640167,3.999182,0.064018,0.005088,0.000000,348.500000,174.293447,4.792070,33.431869,0.064220,85.456138,0.000000,88.837309,0.004124,0.064220,0.124831

In [12]:
dfship_pre3.describe()

,LON,LAT,eastwind,northwind,eastcurrent,northcurrent,sog,cog,heading,windspeed,winddir,curspeed,curdir,vgms,truedircur,vwmsqr,vwms,vwknot
count,7453.000000,7453.000000,7453.000000,7453.000000,5941.000000,5941.000000,7453.000000,7453.000000,7453.000000,7453.000000,7453.000000,5941.000000,5941.000000,7453.000000,5941.000000,5941.000000,5860.000000,5860.000000
mean,13.774095,55.210011,1.976344,0.379926,0.016286,0.003318,8.870751,242.699284,175.747154,6.513813,6.323949,0.109891,-1.886893,4.563613,135.465591,39.265692,4.443183,8.636658
std,0.977055,0.132433,5.296850,4.429899,0.099475,0.081795,8.619512,108.555287,66.793790,3.048934,56.940496,0.069166,55.917644,4.434362,68.285218,42.950672,4.479971,8.708168
min,12.196909,55.040170,-15.216397,-12.824582,-0.491010,-0.404690,-0.009130,-0.134241,63.486661,0.193221,-89.961480,0.000735,-89.957853,-0.004697,-83.844478,-0.153661,0.001363,0.002650
25%,12.871872,55.098459,-1.756650,-2.534061,-0.037983,-0.044471,0.000000,124.116508,109.576119,4.149883,-46.613951,0.059163,-52.440600,0.000000,87.570648,0.008803,0.096181,0.186957
50%,14.101697,55.141606,2.294543,0.385690,0.019269,0.003562,6.953578,283.216008,173.847507,6.285080,12.348882,0.095501,-5.343045,3.577311,135.030069,1.074087,1.566688,3.045328
75%,14.689640,55.275562,5.838650,3.339456,0.072372,0.047412,18.014436,346.200000,174.612903,8.525129,59.985376,0.143550,49.866955,9.267639,185.096616,86.012079,9.287073,18.052213
max,14.696212,55.639000,16.338177,14.519458,0.522374,0.364966,21.070514,359.728115,354.145635,16.760001,89.907884,0.525174,89.975398,10.839857,263.955712,122.882967,11.085259,21.547526

In [13]:
dfship_pre3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7453 entries, 0 to 7995
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LON           7453 non-null   float64
 1   LAT           7453 non-null   float64
 2   eastwind      7453 non-null   float64
 3   northwind     7453 non-null   float64
 4   eastcurrent   5941 non-null   float64
 5   northcurrent  5941 non-null   float64
 6   sog           7453 non-null   float64
 7   cog           7453 non-null   float64
 8   heading       7453 non-null   float64
 9   windspeed     7453 non-null   float64
 10  winddir       7453 non-null   float64
 11  curspeed      5941 non-null   float64
 12  curdir        5941 non-null   float64
 13  vgms          7453 non-null   float64
 14  truedircur    5941 non-null   float64
 15  vwmsqr        5941 non-null   float64
 16  vwms          5860 non-null   float64
 17  vwknot        5860 non-null   float64
dtypes: float64(18)
memory usage: 1.1 MB

In [14]:
#dfship_pre4 = dfship_pre3.drop(dfship_pre3.columns[[0,1,2,3,7,8]],axis=1)
#dfship_pre4.head(n=20)



dfship_pre4 = dfship_pre3.drop(dfship_pre3.columns[[0,1,2,3,4,5,9,10]],axis=1)
dfship_pre4.head(n=15)

,sog,cog,heading,curspeed,curdir,vgms,truedircur,vwmsqr,vwms,vwknot
0,0.000000,358.900000,174.000000,0.122270,68.408246,0.000000,105.591754,0.014950,0.122270,0.237667
1,0.000000,358.900000,174.000000,0.122270,68.408246,0.000000,105.591754,0.014950,0.122270,0.237667
2,0.000000,358.900000,174.000000,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
3,0.000000,358.900000,174.000000,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
4,0.000000,358.900000,174.000000,0.099846,57.259552,0.000000,116.740448,0.009969,0.099846,0.194082
5,0.000000,358.900000,174.000000,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
6,0.000000,358.900000,174.000000,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
7,0.000000,358.900000,174.000000,0.110275,26.071643,0.000000,147.928357,0.012161,0.110275,0.214353
8,14.578394,299.573513,269.900574,0.104064,52.930471,7.499945,142.831045,53.842199,7.337724,14.263069
9,18.148696,302.274508,300.130435,0.104050,36.481737,9.336709,156.612172,83.718520,9.149783,17.785347
10,9.686510,163.922318,230.117302,0.092759,44.814586,4.983285,94.931888,24.687246,4.968626,9.658016
11,11.252112,117.003285,178.653615,0.093128,70.701850,5.788719,107.951765,32.871988,5.733410,11.144602
12,18.119627,125.829385,125.446296,0.086621,52.780582,9.321755,72.665715,87.837903,9.372188,18.217658
13,14.379727,128.352128,114.077973,0.083510,75.410879,7.397740,38.667094,56.608759,7.523879,14.624916
14,0.000000,348.500000,174.293447,0.064220,85.456138,0.000000,88.837309,0.004124,0.064220,0.124831

In [15]:
dfchk= dfship_pre4[dfship_pre4["sog"] > dfship_pre4["vwknot"] ]
dfchk.head(n=10)

,sog,cog,heading,curspeed,curdir,vgms,truedircur,vwmsqr,vwms,vwknot
8,14.578394,299.573513,269.900574,0.104064,52.930471,7.499945,142.831045,53.842199,7.337724,14.263069
9,18.148696,302.274508,300.130435,0.104050,36.481737,9.336709,156.612172,83.718520,9.149783,17.785347
10,9.686510,163.922318,230.117302,0.092759,44.814586,4.983285,94.931888,24.687246,4.968626,9.658016
11,11.252112,117.003285,178.653615,0.093128,70.701850,5.788719,107.951765,32.871988,5.733410,11.144602
15,10.442361,302.925576,238.321759,0.064220,85.456138,5.372138,143.777897,27.781986,5.270862,10.245502
16,18.334854,288.266676,285.777309,0.037861,72.208735,9.432480,177.986044,87.585619,9.358719,18.191478
19,17.132163,299.264957,297.004192,0.195875,58.357628,8.813748,175.361821,71.030955,8.427986,16.382320
25,18.174455,101.516309,100.645083,0.105344,-40.405394,9.349962,141.050477,84.454968,9.189938,17.863402
26,18.477997,98.463181,97.182241,0.010751,-74.179437,9.506120,171.361679,89.973625,9.485443,18.437804
27,18.375976,99.064001,97.929090,0.041556,0.663020,9.453635,97.266070,89.179784,9.443505,18.356285

In [16]:
dfchk2= dfship_pre4[dfship_pre4["vwmsqr"] < 0 ]
dfchk2.head(n=15)

,sog,cog,heading,curspeed,curdir,vgms,truedircur,vwmsqr,vwms,vwknot
39,0.038344,340.414054,174.072243,0.054876,9.440335,0.019726,164.631907,-0.000657,NaN,NaN
129,0.822936,87.136306,244.970289,0.281402,87.870444,0.423364,152.840733,-0.153661,NaN,NaN
168,0.027434,354.968040,174.000000,0.037196,24.040573,0.014114,149.959427,-0.000184,NaN,NaN
169,0.046990,327.473427,173.867133,0.045426,26.843870,0.024174,147.023262,-0.000933,NaN,NaN
213,0.084251,330.924330,172.948267,0.106226,-26.648890,0.043344,199.597157,-0.003700,NaN,NaN
269,0.203480,334.494510,174.006097,0.078102,-59.222277,0.104682,233.228373,-0.001969,NaN,NaN
858,0.091178,30.372662,173.985569,0.110762,-48.030502,0.046907,222.016071,-0.000538,NaN,NaN
973,0.451833,306.024178,163.600994,0.167773,-6.239731,0.232448,169.840726,-0.067054,NaN,NaN
998,0.125536,341.353650,174.154753,0.123312,-11.249787,0.064583,185.404540,-0.011446,NaN,NaN
1422,0.254167,256.254167,233.791667,0.070942,77.018956,0.130758,130.810622,-0.001439,NaN,NaN
1557,0.098532,329.375740,174.272668,0.113331,-0.041709,0.050690,174.314376,-0.006810,NaN,NaN
1751,0.077162,51.457449,174.017408,0.051064,45.597294,0.039696,128.420114,-0.000714,NaN,NaN
2172,0.164751,321.622609,173.918885,0.187033,-37.761499,0.084757,211.680384,-0.010280,NaN,NaN
2359,0.067366,340.041499,173.950901,0.056251,-54.577100,0.034657,228.528001,-0.000654,NaN,NaN
2623,0.044536,348.054576,173.994541,0.063378,4.304019,0.022912,169.690522,-0.001012,NaN,NaN