In [238]:
import pandas as pd
from matplotlib import pyplot
df = pd.read_csv("AIS_Clean_001.csv")
# AIS clean 002 is only heading from west to easr (hopefully better model due to the similar heading)
#df = pd.read_csv("AIS_Clean_002.csv")
df.head(n=5)

,Unnamed: 0,Time,LON,LAT,Temperature above oceans [K],Air density above oceans [kg/m^3],Max wave height [m],Swell period [deg],Wind wave period [s],Wave period [s],...,SOG [knot],COG [deg],Heading [deg],Wind Speed [m/s],Current Speed [m/s],True Wind Direction [deg],True Current Direction [deg],True Swell Direction [deg],True Wind Wave Direction [deg],True Wave Direction [deg]
0,0,01/01/2021 00:00,14.689663,55.098452,277.311035,1.259323,1.893614,4.818881,3.818459,4.154329,...,0.0,358.9,174.0,7.112664,0.122270,155.408180,105.591753,22.854050,22.749664,22.610062
1,1,01/01/2021 01:00,14.689659,55.098451,277.328369,1.259985,1.752303,4.755800,3.470216,4.130580,...,0.0,358.9,174.0,6.653538,0.122270,158.458891,105.591753,26.122772,19.152008,22.209274
2,2,01/01/2021 02:00,14.689648,55.098468,277.390625,1.260244,1.619775,4.645083,3.259682,4.083755,...,0.0,358.9,174.0,6.488697,0.099846,163.749663,116.740448,28.498383,12.424912,20.857971
3,3,01/01/2021 03:00,14.689646,55.098471,277.411377,1.260148,1.518736,4.588384,3.177906,4.010502,...,0.0,358.9,174.0,6.104632,0.099846,170.724504,116.740448,29.956985,6.725922,18.732071
4,4,01/01/2021 04:00,14.689644,55.098462,277.430664,1.260634,1.455034,4.528841,3.281654,3.913362,...,0.0,358.9,174.0,6.181707,0.099846,179.505940,116.740448,34.486298,3.761627,15.731430

In [239]:
# Master Drop, vary from here 
#df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Temperature above oceans [K]','Air density above oceans [kg/m^3]','Max wave height [m]',
#'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
#'Wind wave height [m]','Surface pressure [Pa]','Draught [m]','Width [m]','Length [m]','SOG [knot]','COG [deg]','Heading [deg]','Wind Speed [m/s]','Current Speed [m/s]'
#,'True Wind Direction [deg]','True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
#df_ship.head(n=5)

# According to slide from pak Uri 
df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Air density above oceans [kg/m^3]',
'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
'Wind wave height [m]','Surface pressure [Pa]','Width [m]','Length [m]','COG [deg]','Heading [deg]','Current Speed [m/s]'
,'True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
df_ship.head(n=5)

# Try to follow feature from Abebe
df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Air density above oceans [kg/m^3]',
'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
'Wind wave height [m]','Surface pressure [Pa]','Width [m]','Length [m]','Heading [deg]'
,'True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]'],axis=1)
df_ship.head(n=5)

,Temperature above oceans [K],Max wave height [m],Draught [m],SOG [knot],COG [deg],Wind Speed [m/s],Current Speed [m/s],True Wind Direction [deg],True Wave Direction [deg]
0,277.311035,1.893614,5.026295,0.0,358.9,7.112664,0.122270,155.408180,22.610062
1,277.328369,1.752303,5.013148,0.0,358.9,6.653538,0.122270,158.458891,22.209274
2,277.390625,1.619775,5.021913,0.0,358.9,6.488697,0.099846,163.749663,20.857971
3,277.411377,1.518736,5.007304,0.0,358.9,6.104632,0.099846,170.724504,18.732071
4,277.430664,1.455034,5.007889,0.0,358.9,6.181707,0.099846,179.505940,15.731430

In [240]:
df_ship['Temperature above oceans [K]'].isnull().values.any()

False

In [241]:
df_ship['Max wave height [m]'].isnull().values.any()

True

In [242]:
df_ship['Draught [m]'].isnull().values.any()

False

In [243]:
df_ship['SOG [knot]'].isnull().values.any()

False

In [244]:
df_ship['Wind Speed [m/s]'].isnull().values.any()

False

In [245]:
df_ship['True Wind Direction [deg]'].isnull().values.any()

False

In [246]:
df_ship[df_ship['Max wave height [m]'].isna()]

,Temperature above oceans [K],Max wave height [m],Draught [m],SOG [knot],COG [deg],Wind Speed [m/s],Current Speed [m/s],True Wind Direction [deg],True Wave Direction [deg]
12,274.617920,NaN,5.018809,0.000000,291.200000,1.201698,0.016704,47.531006,NaN
13,274.843750,NaN,5.021336,0.645104,275.850790,1.369772,0.016704,39.151627,NaN
31,273.274658,NaN,5.289814,2.646829,277.199392,2.579900,0.016704,100.017118,NaN
32,273.542481,NaN,5.293987,0.000000,281.400000,2.613073,0.016704,141.740800,NaN
33,273.721924,NaN,5.163580,5.789542,194.950688,2.260253,0.016704,141.504327,NaN
...,...,...,...,...,...,...,...,...,...
5591,275.476074,NaN,5.199712,0.000000,293.900000,4.278287,0.309195,106.562091,NaN
5592,275.603027,NaN,5.199688,8.630372,172.469415,4.962771,0.241199,103.131107,NaN
5609,281.394287,NaN,5.108047,2.543046,286.642250,7.015732,0.062753,83.878543,NaN
5610,280.814209,NaN,5.109370,0.000000,296.700000,7.135836,0.162801,48.906867,NaN
5611,280.854492,NaN,5.084934,8.978287,173.651804,7.261386,0.065278,40.311822,NaN

In [247]:
df_ship2 = df_ship.rename({'Max wave height [m]': 'waveheight', 'Draught [m]': 'draught',
                           'SOG [knot]': 'sog', 'Wind Speed [m/s]': 'windspeed', 
                           'True Wind Direction [deg]': 'truewinddir','Temperature above oceans [K]' : 'temperature',
                           'COG [deg]': 'cog', 'Current Speed [m/s]' : 'curspeed','True Wave Direction [deg]' : 'truewavedir' 
                           }, axis=1)

In [248]:
df_ship2.head(n=5)

,temperature,waveheight,draught,sog,cog,windspeed,curspeed,truewinddir,truewavedir
0,277.311035,1.893614,5.026295,0.0,358.9,7.112664,0.122270,155.408180,22.610062
1,277.328369,1.752303,5.013148,0.0,358.9,6.653538,0.122270,158.458891,22.209274
2,277.390625,1.619775,5.021913,0.0,358.9,6.488697,0.099846,163.749663,20.857971
3,277.411377,1.518736,5.007304,0.0,358.9,6.104632,0.099846,170.724504,18.732071
4,277.430664,1.455034,5.007889,0.0,358.9,6.181707,0.099846,179.505940,15.731430

In [249]:
df_ship2['temperature'].isnull().values.any()

False

In [250]:
df_ship2['waveheight'].isnull().values.any()

True

In [251]:
df_ship2['draught'].isnull().values.any()

False

In [252]:
df_ship2['sog'].isnull().values.any()

False

In [253]:
df_ship2['cog'].isnull().values.any()

False

In [254]:
df_ship2['windspeed'].isnull().values.any()

False

In [255]:
df_ship2['curspeed'].isnull().values.any()

False

In [256]:
df_ship2['truewinddir'].isnull().values.any()

False

In [257]:
df_ship2['truewavedir'].isnull().values.any()

True

In [258]:
# Replace NaN value with the median 
df_ship2.waveheight = df_ship2.waveheight.fillna(df_ship2.waveheight.mean())
df_ship2.truewavedir = df_ship2.truewavedir.fillna(df_ship2.truewavedir.mean())
df_ship2.head(n=10)

,temperature,waveheight,draught,sog,cog,windspeed,curspeed,truewinddir,truewavedir
0,277.311035,1.893614,5.026295,0.000000,358.900000,7.112664,0.122270,155.408180,22.610062
1,277.328369,1.752303,5.013148,0.000000,358.900000,6.653538,0.122270,158.458891,22.209274
2,277.390625,1.619775,5.021913,0.000000,358.900000,6.488697,0.099846,163.749663,20.857971
3,277.411377,1.518736,5.007304,0.000000,358.900000,6.104632,0.099846,170.724504,18.732071
4,277.430664,1.455034,5.007889,0.000000,358.900000,6.181707,0.099846,179.505940,15.731430
5,277.389648,1.449675,5.016434,0.000000,358.900000,7.010625,0.110275,176.640877,11.748291
6,277.320557,1.518332,5.021130,0.000000,358.900000,7.710115,0.110275,176.708409,7.536240
7,277.155518,1.623140,5.014087,0.000000,358.900000,8.037884,0.110275,179.497847,4.786667
8,276.399902,1.204397,5.019009,11.252112,117.003285,3.821501,0.093128,170.879672,1.236454
9,277.134033,1.275907,5.020452,18.119627,125.829385,5.479353,0.086621,102.327505,54.270195

In [259]:
df_ship2['waveheight'].isnull().values.any()
df_ship2['truewavedir'].isnull().values.any()

False

In [260]:
from scipy.stats import pearsonr
corr_1 = pearsonr(df_ship2['waveheight'],df_ship2['sog'])
corr_2 = pearsonr(df_ship2['draught'],df_ship2['sog'])
corr_3 = pearsonr(df_ship2['windspeed'],df_ship2['sog'])
corr_4 = pearsonr(df_ship2['truewinddir'],df_ship2['sog']) 
print('Pearsons correlation waveheight and sog:', corr_1)
print('Pearsons correlation draught and sog:', corr_2)
print('Pearsons correlation windspeed and sog:', corr_3)
print('Pearsons correlation truewinddir and sog:', corr_4)

# Pearsons regression shows that there is almost no correlation between these variables 
# p values are greater than the 5% confidence interval, hence the null hypothesis cannot be rejceted ( no significant correlation betweem the varaiables)

Pearsons correlation waveheight and sog: PearsonRResult(statistic=-0.1521735987361328, pvalue=1.5052198036592983e-30)
Pearsons correlation draught and sog: PearsonRResult(statistic=0.11671876905696363, pvalue=1.4879159942712113e-18)
Pearsons correlation windspeed and sog: PearsonRResult(statistic=-0.041396703041803096, pvalue=0.0018808415266617078)
Pearsons correlation truewinddir and sog: PearsonRResult(statistic=-0.16628105136461735, pvalue=3.162912009194145e-36)

In [261]:
# Implement the Random forest, but first, data is to be split into training and validation data

from sklearn.model_selection import train_test_split

#x_train,x_test,y_train,y_test = train_test_split(df_ship2,target,test_size=0.2)
#x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog'],axis=1),df_ship2.sog_cat,test_size=0.2)
# Try with regressor 
x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog'],axis=1),df_ship2.sog,test_size=0.2)

In [262]:
x_train

,temperature,waveheight,draught,cog,windspeed,curspeed,truewinddir,truewavedir
197,276.503174,2.725080,5.199650,103.576457,10.056273,0.284423,11.379707,167.683181
4037,284.643310,1.658198,5.091351,240.613390,4.551574,0.016704,135.953346,93.548067
4575,283.980957,1.020074,5.377384,126.027588,6.478422,0.194966,85.613196,99.391393
5514,271.780273,1.494530,4.839484,97.622105,5.663030,0.043077,46.115702,99.019216
4271,287.302246,1.432701,5.110801,356.000000,5.257495,0.112326,74.863342,19.267472
...,...,...,...,...,...,...,...,...
4906,280.621826,2.364604,5.291796,24.878727,9.961083,0.016704,126.372411,56.610519
5053,278.731934,1.556933,5.200000,356.000000,4.343013,0.072514,98.993053,83.928284
5183,275.937256,1.658198,5.109694,284.661880,7.914129,0.168801,110.489890,93.548067
4851,281.037598,1.658198,5.022187,291.300000,4.762128,0.016704,160.562546,93.548067
3981,289.169922,0.407694,5.019335,125.603739,2.188191,0.108569,31.813729,166.948443

In [263]:
y_train

197     19.416313
4037     3.447715
4575    17.793466
5514    17.746317
4271     0.000000
          ...
4906     0.397210
5053     0.000000
5183     2.772650
4851     0.000000
3981     8.162171
Name: sog, Length: 4508, dtype: float64

In [264]:
len(x_train)

4508

In [265]:
len(x_test)

1128

In [266]:
#from sklearn.ensemble import RandomForestClassifier
#model = RandomForestClassifier(n_estimators=100)
## default value for tree estimator is n = 10
#model.fit(x_train,y_train)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)

#from sklearn.linear_model import LinearRegression
#model = LinearRegression
#model.fit(x_train,y_train)

RandomForestRegressor()

In [267]:
model.score(x_test,y_test)
# r^2 score

0.9711204735690139

In [268]:
y_predicted = model.predict(x_test)

In [269]:
# Application for evaluation metrics, starting with explained variance

from sklearn.metrics import explained_variance_score
explained_variance_score(y_test,y_predicted)
# Best value is 1

0.9712514064249909

In [270]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_predicted)
# Best value is 0

0.544699734475798

In [271]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_predicted)
# Best value is 0

1.907523146859651

In [272]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test,y_predicted)
# Best value is 0

0.05078646165000455

In [273]:
#from sklearn.metrics import confusion_matrix
#cm = confusion_matrix(y_test,y_predicted)
#cm
# with random forest regressor is error, since cm does not support continuous data