In [75]:
import pandas as pd
from matplotlib import pyplot
df = pd.read_csv("AIS_Clean_001.csv")
df.head(n=5)

,Unnamed: 0,Time,LON,LAT,Temperature above oceans [K],Air density above oceans [kg/m^3],Max wave height [m],Swell period [deg],Wind wave period [s],Wave period [s],...,SOG [knot],COG [deg],Heading [deg],Wind Speed [m/s],Current Speed [m/s],True Wind Direction [deg],True Current Direction [deg],True Swell Direction [deg],True Wind Wave Direction [deg],True Wave Direction [deg]
0,0,01/01/2021 00:00,14.689663,55.098452,277.311035,1.259323,1.893614,4.818881,3.818459,4.154329,...,0.0,358.9,174.0,7.112664,0.122270,155.408180,105.591753,22.854050,22.749664,22.610062
1,1,01/01/2021 01:00,14.689659,55.098451,277.328369,1.259985,1.752303,4.755800,3.470216,4.130580,...,0.0,358.9,174.0,6.653538,0.122270,158.458891,105.591753,26.122772,19.152008,22.209274
2,2,01/01/2021 02:00,14.689648,55.098468,277.390625,1.260244,1.619775,4.645083,3.259682,4.083755,...,0.0,358.9,174.0,6.488697,0.099846,163.749663,116.740448,28.498383,12.424912,20.857971
3,3,01/01/2021 03:00,14.689646,55.098471,277.411377,1.260148,1.518736,4.588384,3.177906,4.010502,...,0.0,358.9,174.0,6.104632,0.099846,170.724504,116.740448,29.956985,6.725922,18.732071
4,4,01/01/2021 04:00,14.689644,55.098462,277.430664,1.260634,1.455034,4.528841,3.281654,3.913362,...,0.0,358.9,174.0,6.181707,0.099846,179.505940,116.740448,34.486298,3.761627,15.731430

In [76]:
# Master Drop, vary from here 
#df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Temperature above oceans [K]','Air density above oceans [kg/m^3]','Max wave height [m]',
#'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
#'Wind wave height [m]','Surface pressure [Pa]','Draught [m]','Width [m]','Length [m]','SOG [knot]','COG [deg]','Heading [deg]','Wind Speed [m/s]','Current Speed [m/s]'
#,'True Wind Direction [deg]','True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
#df_ship.head(n=5)

df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Temperature above oceans [K]','Air density above oceans [kg/m^3]',
'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
'Wind wave height [m]','Surface pressure [Pa]','Width [m]','Length [m]','COG [deg]','Heading [deg]','Current Speed [m/s]'
,'True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
df_ship.head(n=5)

,Max wave height [m],Draught [m],SOG [knot],Wind Speed [m/s],True Wind Direction [deg]
0,1.893614,5.026295,0.0,7.112664,155.408180
1,1.752303,5.013148,0.0,6.653538,158.458891
2,1.619775,5.021913,0.0,6.488697,163.749663
3,1.518736,5.007304,0.0,6.104632,170.724504
4,1.455034,5.007889,0.0,6.181707,179.505940

In [77]:
df_ship['Max wave height [m]'].isnull().values.any()

True

In [78]:
df_ship['Draught [m]'].isnull().values.any()

False

In [79]:
df_ship['SOG [knot]'].isnull().values.any()

False

In [80]:
df_ship['Wind Speed [m/s]'].isnull().values.any()

False

In [81]:
df_ship['True Wind Direction [deg]'].isnull().values.any()

False

In [82]:
df_ship[df_ship['Max wave height [m]'].isna()]

,Max wave height [m],Draught [m],SOG [knot],Wind Speed [m/s],True Wind Direction [deg]
19,NaN,5.021508,17.132163,2.114903,132.389674
20,NaN,5.017637,13.247561,1.355415,162.040942
21,NaN,5.018809,0.000000,1.201698,47.531006
22,NaN,5.021336,0.645104,1.369772,39.151627
45,NaN,5.289814,2.646829,2.579900,100.017118
...,...,...,...,...,...
7404,NaN,5.199688,8.630372,4.962771,103.131107
7424,NaN,5.109646,17.635782,6.850325,150.653268
7426,NaN,5.108047,2.543046,7.015732,83.878543
7427,NaN,5.109370,0.000000,7.135836,48.906867
7428,NaN,5.084934,8.978287,7.261386,40.311822

In [83]:
df_ship2 = df_ship.rename({'Max wave height [m]': 'waveheight', 'Draught [m]': 'draught',
                           'SOG [knot]': 'sog', 'Wind Speed [m/s]': 'windspeed', 
                           'True Wind Direction [deg]': 'truewinddir'}, axis=1)

In [84]:
df_ship2.head(n=5)

   waveheight   draught  sog  windspeed  truewinddir
0    1.893614  5.026295  0.0   7.112664   155.408180
1    1.752303  5.013148  0.0   6.653538   158.458891
2    1.619775  5.021913  0.0   6.488697   163.749663
3    1.518736  5.007304  0.0   6.104632   170.724504
4    1.455034  5.007889  0.0   6.181707   179.505940

In [85]:
# Replace NaN value with the median 
df_ship2.waveheight = df_ship2.waveheight.fillna(df_ship2.waveheight.mean())
df_ship2.head(n=10)

   waveheight   draught        sog  windspeed  truewinddir
0    1.893614  5.026295   0.000000   7.112664   155.408180
1    1.752303  5.013148   0.000000   6.653538   158.458891
2    1.619775  5.021913   0.000000   6.488697   163.749663
3    1.518736  5.007304   0.000000   6.104632   170.724504
4    1.455034  5.007889   0.000000   6.181707   179.505940
5    1.449675  5.016434   0.000000   7.010625   176.640877
6    1.518332  5.021130   0.000000   7.710115   176.708409
7    1.623140  5.014087   0.000000   8.037884   179.497847
8    1.661038  5.017723  14.578394   7.648595    91.133175
9    1.501637  5.019207  18.148696   6.700397    68.884377

In [86]:
df_ship2['waveheight'].isnull().values.any()

False

In [87]:
# Convert SOG to categorical 

from sklearn.preprocessing import LabelEncoder
# LabelEncoder to categorize non binary data
df_ship2['sog_cat'] = LabelEncoder().fit_transform(df_ship2['sog'])
# See if new categorized column for sex is created
df_ship2.head(n=10)

   waveheight   draught        sog  windspeed  truewinddir  sog_cat
0    1.893614  5.026295   0.000000   7.112664   155.408180       28
1    1.752303  5.013148   0.000000   6.653538   158.458891       28
2    1.619775  5.021913   0.000000   6.488697   163.749663       28
3    1.518736  5.007304   0.000000   6.104632   170.724504       28
4    1.455034  5.007889   0.000000   6.181707   179.505940       28
5    1.449675  5.016434   0.000000   7.010625   176.640877       28
6    1.518332  5.021130   0.000000   7.710115   176.708409       28
7    1.623140  5.014087   0.000000   8.037884   179.497847       28
8    1.661038  5.017723  14.578394   7.648595    91.133175     1516
9    1.501637  5.019207  18.148696   6.700397    68.884377     3088

In [88]:
# Drop the sog and sog_cat

df_ship3 = df_ship2.drop(['sog','sog_cat'],axis=1)
df_ship3.head(n=10)
# sog_cat is target variable
target = df_ship2.sog_cat

In [89]:
# Implement the Random forest, but first, data is to be split into training and validation data

from sklearn.model_selection import train_test_split

#x_train,x_test,y_train,y_test = train_test_split(df_ship2,target,test_size=0.2)
#x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog'],axis=1),df_ship2.sog_cat,test_size=0.2)
# Try with regressor 
x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog_cat','sog'],axis=1),df_ship2.sog,test_size=0.2)

In [90]:
x_train

      waveheight   draught  windspeed  truewinddir
187     1.901302  5.292386   8.572216    38.155098
4093    1.217129  5.280965   7.149488    90.349343
5998    3.746303  5.380928  12.084235    20.172540
1639    0.949871  5.199683   6.993652    78.725569
1747    3.283600  5.199350  11.703289   107.240010
...          ...       ...        ...          ...
6009    1.601278  5.289054   2.864068    78.596843
2914    0.455743  4.742665   2.710719    95.107823
328     2.601805  5.199801   8.297106     5.236303
672     1.601278  5.018453   4.325865    94.852316
5148    1.601278  5.376274   2.777111    98.499581

[5962 rows x 4 columns]

In [91]:
y_train

187      0.000000
4093     0.000000
5998    18.810717
1639    19.669501
1747     0.028710
          ...
6009     4.262640
2914     9.587109
328      0.000000
672      0.000000
5148    18.180649
Name: sog, Length: 5962, dtype: float64

In [92]:
len(x_train)

5962

In [93]:
len(x_test)

1491

In [94]:
#from sklearn.ensemble import RandomForestClassifier
#model = RandomForestClassifier(n_estimators=100)
## default value for tree estimator is n = 10
#model.fit(x_train,y_train)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)

#from sklearn.linear_model import LinearRegression
#model = LinearRegression
#model.fit(x_train,y_train)

RandomForestRegressor()

In [95]:
model.score(x_test,y_test)
# r^2 score

0.4378787159027766

In [96]:
y_predicted = model.predict(x_test)

In [97]:
# Application for evaluation metrics, starting with explained variance

from sklearn.metrics import explained_variance_score
explained_variance_score(y_test,y_predicted)
# Best value is 1

0.4394220575059925

In [98]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_predicted)
# Best value is 0

5.065413352721751

In [99]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_predicted)
# Best value is 0

41.44841403749332

In [100]:
from sklearn.metrics import mean_squared_log_error
mean_squared_log_error(y_test,y_predicted)
# It cannot functions when negative values are present

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

In [ ]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test,y_predicted)
# Best value is 0

0.0003050368000216963

In [ ]:
#from sklearn.metrics import confusion_matrix
#cm = confusion_matrix(y_test,y_predicted)
#cm
# with random forest regressor is error, since cm does not support continuous data

In [ ]:
# Dont run cause crash
# matplotlib inline
#import matplotlib.pyplot as plt
#import seaborn as sn
#plt.figure(figsize=(10,7))
#sn.heatmap(cm,annot=True)
#plt.xlabel('Predicted')
#plt.ylabel('Truth')