In [1]:
import pandas as pd
from matplotlib import pyplot
df = pd.read_csv("AIS_Clean_001.csv")
df.head(n=5)

# This is test command to check git 
# this is test command to check merge main to laptopver I guess

,Unnamed: 0,Time,LON,LAT,Temperature above oceans [K],Air density above oceans [kg/m^3],Max wave height [m],Swell period [deg],Wind wave period [s],Wave period [s],...,SOG [knot],COG [deg],Heading [deg],Wind Speed [m/s],Current Speed [m/s],True Wind Direction [deg],True Current Direction [deg],True Swell Direction [deg],True Wind Wave Direction [deg],True Wave Direction [deg]
0,0,01/01/2021 00:00,14.689663,55.098452,277.311035,1.259323,1.893614,4.818881,3.818459,4.154329,...,0.0,358.9,174.0,7.112664,0.122270,155.408180,105.591753,22.854050,22.749664,22.610062
1,1,01/01/2021 01:00,14.689659,55.098451,277.328369,1.259985,1.752303,4.755800,3.470216,4.130580,...,0.0,358.9,174.0,6.653538,0.122270,158.458891,105.591753,26.122772,19.152008,22.209274
2,2,01/01/2021 02:00,14.689648,55.098468,277.390625,1.260244,1.619775,4.645083,3.259682,4.083755,...,0.0,358.9,174.0,6.488697,0.099846,163.749663,116.740448,28.498383,12.424912,20.857971
3,3,01/01/2021 03:00,14.689646,55.098471,277.411377,1.260148,1.518736,4.588384,3.177906,4.010502,...,0.0,358.9,174.0,6.104632,0.099846,170.724504,116.740448,29.956985,6.725922,18.732071
4,4,01/01/2021 04:00,14.689644,55.098462,277.430664,1.260634,1.455034,4.528841,3.281654,3.913362,...,0.0,358.9,174.0,6.181707,0.099846,179.505940,116.740448,34.486298,3.761627,15.731430

In [2]:
# Master Drop, vary from here 
#df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Temperature above oceans [K]','Air density above oceans [kg/m^3]','Max wave height [m]',
#'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
#'Wind wave height [m]','Surface pressure [Pa]','Draught [m]','Width [m]','Length [m]','SOG [knot]','COG [deg]','Heading [deg]','Wind Speed [m/s]','Current Speed [m/s]'
#,'True Wind Direction [deg]','True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
#df_ship.head(n=5)

df_ship = df.drop(['Unnamed: 0','Time','LON','LAT','Temperature above oceans [K]','Air density above oceans [kg/m^3]',
'Swell period [deg]','Wind wave period [s]','Wave period [s]','Sea surface temperature [K]','Combined wind waves and swell height [m]','Swell height [m]',
'Wind wave height [m]','Surface pressure [Pa]','Width [m]','Length [m]','COG [deg]','Heading [deg]','Current Speed [m/s]'
,'True Current Direction [deg]','True Swell Direction [deg]','True Wind Wave Direction [deg]','True Wave Direction [deg]'],axis=1)
df_ship.head(n=5)

,Max wave height [m],Draught [m],SOG [knot],Wind Speed [m/s],True Wind Direction [deg]
0,1.893614,5.026295,0.0,7.112664,155.408180
1,1.752303,5.013148,0.0,6.653538,158.458891
2,1.619775,5.021913,0.0,6.488697,163.749663
3,1.518736,5.007304,0.0,6.104632,170.724504
4,1.455034,5.007889,0.0,6.181707,179.505940

In [3]:
df_ship['Max wave height [m]'].isnull().values.any()

True

In [4]:
df_ship['Draught [m]'].isnull().values.any()

False

In [5]:
df_ship['SOG [knot]'].isnull().values.any()

False

In [6]:
df_ship['Wind Speed [m/s]'].isnull().values.any()

False

In [7]:
df_ship['True Wind Direction [deg]'].isnull().values.any()

False

In [8]:
df_ship[df_ship['Max wave height [m]'].isna()]

,Max wave height [m],Draught [m],SOG [knot],Wind Speed [m/s],True Wind Direction [deg]
19,NaN,5.021508,17.132163,2.114903,132.389674
20,NaN,5.017637,13.247561,1.355415,162.040942
21,NaN,5.018809,0.000000,1.201698,47.531006
22,NaN,5.021336,0.645104,1.369772,39.151627
45,NaN,5.289814,2.646829,2.579900,100.017118
...,...,...,...,...,...
7404,NaN,5.199688,8.630372,4.962771,103.131107
7424,NaN,5.109646,17.635782,6.850325,150.653268
7426,NaN,5.108047,2.543046,7.015732,83.878543
7427,NaN,5.109370,0.000000,7.135836,48.906867
7428,NaN,5.084934,8.978287,7.261386,40.311822

In [9]:
df_ship2 = df_ship.rename({'Max wave height [m]': 'waveheight', 'Draught [m]': 'draught',
                           'SOG [knot]': 'sog', 'Wind Speed [m/s]': 'windspeed', 
                           'True Wind Direction [deg]': 'truewinddir'}, axis=1)

In [10]:
df_ship2.head(n=5)

   waveheight   draught  sog  windspeed  truewinddir
0    1.893614  5.026295  0.0   7.112664   155.408180
1    1.752303  5.013148  0.0   6.653538   158.458891
2    1.619775  5.021913  0.0   6.488697   163.749663
3    1.518736  5.007304  0.0   6.104632   170.724504
4    1.455034  5.007889  0.0   6.181707   179.505940

In [11]:
# Replace NaN value with the median 
df_ship2.waveheight = df_ship2.waveheight.fillna(df_ship2.waveheight.mean())
df_ship2.head(n=10)

   waveheight   draught        sog  windspeed  truewinddir
0    1.893614  5.026295   0.000000   7.112664   155.408180
1    1.752303  5.013148   0.000000   6.653538   158.458891
2    1.619775  5.021913   0.000000   6.488697   163.749663
3    1.518736  5.007304   0.000000   6.104632   170.724504
4    1.455034  5.007889   0.000000   6.181707   179.505940
5    1.449675  5.016434   0.000000   7.010625   176.640877
6    1.518332  5.021130   0.000000   7.710115   176.708409
7    1.623140  5.014087   0.000000   8.037884   179.497847
8    1.661038  5.017723  14.578394   7.648595    91.133175
9    1.501637  5.019207  18.148696   6.700397    68.884377

In [12]:
df_ship2['waveheight'].isnull().values.any()

False

In [13]:
# Convert SOG to categorical 

from sklearn.preprocessing import LabelEncoder
# LabelEncoder to categorize non binary data
df_ship2['sog_cat'] = LabelEncoder().fit_transform(df_ship2['sog'])
# See if new categorized column for sex is created
df_ship2.head(n=10)

   waveheight   draught        sog  windspeed  truewinddir  sog_cat
0    1.893614  5.026295   0.000000   7.112664   155.408180       28
1    1.752303  5.013148   0.000000   6.653538   158.458891       28
2    1.619775  5.021913   0.000000   6.488697   163.749663       28
3    1.518736  5.007304   0.000000   6.104632   170.724504       28
4    1.455034  5.007889   0.000000   6.181707   179.505940       28
5    1.449675  5.016434   0.000000   7.010625   176.640877       28
6    1.518332  5.021130   0.000000   7.710115   176.708409       28
7    1.623140  5.014087   0.000000   8.037884   179.497847       28
8    1.661038  5.017723  14.578394   7.648595    91.133175     1516
9    1.501637  5.019207  18.148696   6.700397    68.884377     3088

In [14]:
# Drop the sog and sog_cat

df_ship3 = df_ship2.drop(['sog','sog_cat'],axis=1)
df_ship3.head(n=10)
# sog_cat is target variable
target = df_ship2.sog_cat

In [15]:
# Implement the Random forest, but first, data is to be split into training and validation data

from sklearn.model_selection import train_test_split

#x_train,x_test,y_train,y_test = train_test_split(df_ship2,target,test_size=0.2)
#x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog'],axis=1),df_ship2.sog_cat,test_size=0.2)
# Try with regressor 
x_train,x_test,y_train,y_test = train_test_split(df_ship2.drop(['sog_cat','sog'],axis=1),df_ship2.sog,test_size=0.2)

In [16]:
x_train

      waveheight   draught  windspeed  truewinddir
5843    1.601278  5.374018   7.680568    46.287692
5708    0.476033  5.654373   2.862742   155.336286
3948    0.394193  5.291627   2.034248    95.694953
2450    0.902739  5.278734   7.162337    80.777220
5183    0.256197  5.017995   3.063061   128.943869
...          ...       ...        ...          ...
5912    1.601278  5.330389   4.296531   155.104124
7140    0.804213  5.382882   6.635580    16.153045
2277    1.113553  5.110923   6.329594    25.784711
6072    1.972801  5.378039   9.608067    41.909208
4332    1.514050  5.199717   5.890200   165.356965

[5962 rows x 4 columns]

In [17]:
y_train

5843     0.000000
5708    19.714057
3948    18.946447
2450     0.000000
5183    16.195111
          ...
5912     6.329353
7140    17.722078
2277     0.000000
6072    17.727419
4332    18.677143
Name: sog, Length: 5962, dtype: float64

In [18]:
len(x_train)

5962

In [19]:
len(x_test)

1491

In [20]:
#from sklearn.ensemble import RandomForestClassifier
#model = RandomForestClassifier(n_estimators=100)
## default value for tree estimator is n = 10
#model.fit(x_train,y_train)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)

#from sklearn.linear_model import LinearRegression
#model = LinearRegression
#model.fit(x_train,y_train)

RandomForestRegressor()

In [21]:
model.score(x_test,y_test)
# r^2 score

0.4312027817285744

In [22]:
y_predicted = model.predict(x_test)

In [23]:
# Application for evaluation metrics, starting with explained variance

from sklearn.metrics import explained_variance_score
explained_variance_score(y_test,y_predicted)
# Best value is 1

0.43223972327496885

In [24]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_predicted)
# Best value is 0

5.146865667207023

In [25]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_predicted)
# Best value is 0

41.98747702448658

In [26]:
from sklearn.metrics import mean_squared_log_error
mean_squared_log_error(y_test,y_predicted)
# It cannot functions when negative values are present

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

In [27]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test,y_predicted)
# Best value is 0

4.19679232522